---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PhotoViewer from "@components/PhotoViewer.astro";
import { SITE } from "@consts";

type Props = {
  title: string;
  description: string;
  type?: "website" | "article";
  date?: Date;
};

const { title, description, type = "website", date } = Astro.props;
---

<!doctype html>
<html lang="en" transition:name="root" transition:animate="none">
  <head>
    <Head
      title={`${title} | ${SITE.NAME}`}
      description={description}
      type={type}
      date={date}
    />
  </head>
  <body>
    <Header />
    <main transition:name="page" transition:animate="fade">
      <slot />
    </main>
    <PhotoViewer />
    <Footer />
  </body>
</html>
